.footer {
  background: #111;
  color: #fff;
  padding: 45px 0;
}

/* ✅ Make all columns equal height */
.footer .row {
  display: flex;
  justify-content: flex-start;

  align-items: stretch;
}

/* Column */
.footer-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.footer-col-right{
  margin-top: 100px;
}
/* Inner content */
.footer-inner {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

/* Logo */
.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

/* Tagline */
.footer-tagline {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
   text-align: justify !important;
}

/* Description */
.footer-desc {
  font-size: 14px;
  line-height: 1.6;
 text-align: justify !important;
}

/* Heading */
.footer-heading {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;

}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

.footer-links a:hover {
  color: #ccc;
}

/* Address */
.footer-address {
  font-size: 14px;
  line-height: 1.7;
}

/* Social */
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
}



/* clickable phone + email same color */
.footer-contact-link {
  color: inherit; /* same as footer text */
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-contact-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* ✅ Mobile Fix */
@media (max-width: 768px) {
  .footer-col {
    justify-content: center;
    text-align: left;
  }
.footer-col-right{
  margin-top: 20px;
}

  .footer-inner {
    max-width: 100%;
  }
}